@model IEnumerable<WeatherApp.Models.Location>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LatLong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WoeId)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LatLong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WoeId)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.LocationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LocationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LocationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
